
<footer id="hb-footer" class="hb-footer hb-haslayout">
    <div class="hb-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-col">
                        <strong class="hb-logo">
                            <a href="/"><img src="/images/logo.png" alt=""></a>
                        </strong>
                        <span class="hb-timeandday">ساعات کاری: شنبه تا 5 شنبه 9 صبح الی 21</span>
                        <ul class="list-unstyled hb-socialicons">
                            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li class="hb-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-col">
                        <h3>اطلاعات تماس</h3>
	                    <ul class="list-unstyled hb-info">
		                    
		                    <li>
			                    <a href="tel:00982144217662">
			                    <span>021-44217662</span>
			                    </a>
		                    </li>
		                    <li>
			                    <a href="tel:00989128131887">
			                    <span>09128131887</span>
			                    </a>
		                    </li>
		                    <li>
			                    <a href="tel:00989120543257">
			                    <span>09120543257</span>
			                    </a>
		                    </li>
		                    <li>
			                    <span><a href="mailto:info@marjankarimi.com">info@marjankarimi.com</a></span>
		                    </li>
		                    <li><span>تهران، خیابان مرزداران</span></li>
	                    </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-col">
                        <h3>خبر نامه</h3>
                        <div class="hb-emailarea">
                            <form class="hb-formtheme">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="ایمیل">
                                        <button type="submit" class="hb-btn">ثبت نام</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="hb-description">
                            <p>برای با خبر شدن از آخرین مقالات و تخفیفات سایت مرجان کریمی ایمیل خود را وارد نمایید.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hb-col">
                        <h3>@Model.FooterDesc.Title</h3>
                        <div class="hb-description">
                            <p>@Html.Raw(Model.FooterDesc.Body)</p>
                        </div>
                        @*<ul>
                            <li><a href="#"><img src="~/images/footer1.jpg" alt="image description"></a></li>
                            <li><a href="#"><img src="~/images/footer2.jpg" alt="image description"></a></li>
                            <li><a href="#"><img src="~/images/footer3.jpg" alt="image description"></a></li>
                            <li><a href="#"><img src="~/images/footer4.jpg" alt="image description"></a></li>
                            <li><a href="#"><img src="~/images/footer5.jpg" alt="image description"></a></li>
                            <li><a href="#"><img src="~/images/footer6.jpg" alt="image description"></a></li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hb-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 dirrtl">
                    <span class="hb-copyright">تمامی حقوق این وب سایت متعلق به مرجان کریمی می باشد. طراحی وب سایت توسط <a class="color-orange" href="https://zavoshsoftware.com/">زاوش</a></span>

                </div>
            </div>
        </div>
    </div>
</footer>
<!--************************************
        Footer End
*************************************-->
<span id="back-top" class="text-center rounded-circle fa fa-angle-up"></span>
<div id="loader" class="loader-holder">
    <div class="block">
        <div class="dot white"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>