@model ViewModels.GalleryListViewModel
@{
    ViewBag.Title = "گالری تصاویر";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
    ViewBag.Canonical = "http://www.marjankarimi.com/gallery/;
}
<h2>Details</h2>

