@model ViewModels.ContactViewModel
@{
    ViewBag.Title = "تماس با ما";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
	ViewBag.Canonical = "https://www.marjankarimi.com/Contact/";

}


<div id="hb-innerbanner" class="hb-innerbanner hb-haslayout" style="background-image: url('/images/headers/8.jpg');">
	<div class="overlay-main"></div>    <div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="hb-innerbanner-area service">
					<div class="hb-bannarheading">
						<h1>تماس با ما</h1>
					</div>
					<ul class="hb-breadcrumb">
						<li><a href="/">صفحه اصلی</a></li>
						<li>تماس با ما</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<main id="hb-main" class="hb-main hb-haslayout">
    <!--************************************
                Paradise Center Start
    *************************************-->
    <section id="hb-contactus" class="hb-contactus hb-sectionspace hb-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
                    <div class="hb-sectionhead mb-50">
                        <div class="hb-sectiontitle">
                            <h2>
                               
                                آکادمی زیبایی مرجان کریمی
                            </h2>
                        </div>
                        <div class="hb-headcontent">
                            <h2>با ما در تماس باشید</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="hb-contactus-area hb-haslayout">
                    <div class="col-xs-12 col-sm-12">
                        <figure class="hb-contactusmap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.6645960044107!2d51.35002771511296!3d35.73446648018192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0766b27c054f%3A0x610cad51bd5be027!2sTehran%20Province%2C%20Tehran%2C%20District%202%2C%20Marzdaran%20Blvd%2C%20Iran!5e0!3m2!1sen!2s!4v1597149933639!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                        </figure>
                    </div>
                    <div class="hb-addressarea">
                        @foreach (var text in Model.ContactTextItems)
                        {
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="hb-address">
                                    <h2>@text.Title</h2>
                                    <div class="hb-addressbox">
                                        <p>
                                            @Html.Raw(text.Body)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="hb-contactus-formarea">
                        <div class="col-xs-12">
                            <div class="hb-headcontent">
                                <h2>با ما در تماس باشید</h2>
                                <div class="hb-description">
                                    <p>از طریق فرم زیر با ما در تماس باشید</p>
                                </div>
                            </div>
                        </div>
                        <div class="hb-formtheme hb-contactusform">
                            <form id="contactForm" data-toggle="validator">
                                <fieldset>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="txtemail" class="form-control" name="email" placeholder="ایمیل" required data-error="NEW ERROR MESSAGE">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="txtname" class="form-control" name="name" placeholder="نام" required data-error="NEW ERROR MESSAGE">
                                        </div>
                                    </div>
                                   
                                   
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <textarea id="txtmessage" class="form-control" required data-error="NEW ERROR MESSAGE">پیغام</textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <button type="submit" class="hb-btn">ارسال</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
                Paradise Center End
    *************************************-->
</main>
