
@{
    ViewBag.Title = "گالری تصاویر";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div id="hb-innerbanner" class="hb-innerbanner hb-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hb-innerbanner-area service">
                    <div class="hb-bannarheading">
                        <h1>گالری تصاویر</h1>
                    </div>
                    <ul class="hb-breadcrumb">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li>
                            گالری تصاویر
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<main id="hb-main" class="hb-main hb-haslayout">
    <!--************************************
                Our Gallery Start
    *************************************-->
    <section id="hb-gallery" class="hb-gallery v2 hb-sectionspace hb-haslayout">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
                    <div class="hb-sectionhead mb-50">
                        <div class="hb-sectiontitle">
                            <h2>
                                گالری تصاویر
                            </h2>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-12">
                    <div class="hb-gallery-area">
                        <div class="hb-portfolio-head hb-haslayout">
                            <ul id="hb-filterbale-nav" class="hb-filterbale-nav option-set">
                                <li><a class="active" data-filter="*" href="javascript:void(0);">همه</a></li>
                                <li><a data-filter=".massage" href="javascript:void(0);">میکاپ</a></li>
                                <li><a data-filter=".skincare" href="javascript:void(0);">شینیون</a></li>
                                <li><a data-filter=".haircut" href="javascript:void(0);">کراتینه مو</a></li>
                                <li><a data-filter=".nailcare" href="javascript:void(0);">ناخن</a></li>
                                <li><a data-filter=".beautyspa" href="javascript:void(0);">اکستنشن</a></li>
                            </ul>
                        </div>
                        <div id="filter-masonry" class="hb-portfolio-content hb-haslayout">
                            <div class="masonry-grid massage">
                                <div class="hb-project">
                                    <figure class="hb-galleryimg">
                                        <img src="~/images/gallery/gallery07.jpg" alt="images description" />
                                        <figcaption class="hb-gallerycontent">
                                            <ul class="list-unstyled hb-roundicon">
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover1"><i class="fas fa-arrows-alt"></i></a></li>
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover2"><i class="fas fa-link"></i></a></li>
                                            </ul>
                                            <h3>میکاپ</h3>
                                            <span>08 تیر 99</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="masonry-grid skincare">
                                <div class="hb-project">
                                    <figure class="hb-galleryimg">
                                        <img src="~/images/gallery/gallery10.jpg" alt="images description" />
                                        <figcaption class="hb-gallerycontent">
                                            <ul class="list-unstyled hb-roundicon">
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover1"><i class="fas fa-arrows-alt"></i></a></li>
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover2"><i class="fas fa-link"></i></a></li>
                                            </ul>
                                            <h3>شینیون</h3>
                                            <span>17 مرداد 99</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="masonry-grid haircut">
                                <div class="hb-project">
                                    <figure class="hb-galleryimg">
                                        <img src="~/images/gallery/gallery09.jpg" alt="images description" />
                                        <figcaption class="hb-gallerycontent">
                                            <ul class="list-unstyled hb-roundicon">
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover1"><i class="fas fa-arrows-alt"></i></a></li>
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover2"><i class="fas fa-link"></i></a></li>
                                            </ul>
                                            <h3>کراتینه مو</h3>
                                            <span>21 تیر 99</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="masonry-grid nailcare">
                                <div class="hb-project">
                                    <figure class="hb-galleryimg">
                                        <img src="~/images/gallery/gallery13.jpg" alt="images description" />
                                        <figcaption class="hb-gallerycontent">
                                            <ul class="list-unstyled hb-roundicon">
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover1"><i class="fas fa-arrows-alt"></i></a></li>
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover2"><i class="fas fa-link"></i></a></li>
                                            </ul>
                                            <h3>کاشت ناخن</h3>
                                            <span>20 اردیبهشت 99</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="masonry-grid beautyspa">
                                <div class="hb-project">
                                    <figure class="hb-galleryimg">
                                        <img src="~/images/gallery/gallery11.jpg" alt="images description" />
                                        <figcaption class="hb-gallerycontent">
                                            <ul class="list-unstyled hb-roundicon">
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover1"><i class="fas fa-arrows-alt"></i></a></li>
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover2"><i class="fas fa-link"></i></a></li>
                                            </ul>
                                            <h3>اکسشتنشن مژه</h3>
                                            <span>24 تیر 99</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="masonry-grid massage">
                                <div class="hb-project">
                                    <figure class="hb-galleryimg">
                                        <img src="~/images/gallery/gallery08.jpg" alt="images description" />
                                        <figcaption class="hb-gallerycontent">
                                            <ul class="list-unstyled hb-roundicon">
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover1"><i class="fas fa-arrows-alt"></i></a></li>
                                                <li><a href="javascript:void(0)" class="hb-g-icon hover2"><i class="fas fa-link"></i></a></li>
                                            </ul>
                                            <h3>میکاپ</h3>
                                            <span>9 اسفند 98</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
                Our Gallery End
    *************************************-->
</main>
