
@{
    ViewBag.Title = "انواع میکاپ تخصصی";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}
<div id="hb-innerbanner" class="hb-innerbanner hb-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hb-innerbanner-area service">
                    <div class="hb-bannarheading">
                        <h1>انواع میکاپ تخصصی</h1>
                    </div>
                    <ul class="hb-breadcrumb">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li>انواع میکاپ تخصصی</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<main id="hb-main" class="hb-main hb-haslayout">
    <!--************************************
                Blog Start
    *************************************-->
    <section id="hb-blog" class="hb-blog hb-sectionspace hb-haslayout service">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 pull-left">
                    <div class="hb-post-area hb-blogdetails">
                        <article class="hb-post">
                            <figure class="hb-postimage">
                                <img src="~/images/blogs/blogDetail01.jpg" alt="image description" />
                            </figure>
                            <div class="hb-postcontent">
                                <h2>انواع میکاپ تخصصی</h2>
                            </div>
                            <div class="hb-description">
                                <p>
                                    میکاپ و انواع سبک های میکاپ
                                    میکاپ و انواع سبک های میکاپ
                                    آکادمی مرجان کریمی مرکز میکاپ و آرایش تخصصی عروس در تهران و غرب تهران خدمات گوناگونی را به عروس خانم های عزیز ارائه می دهد. شما می توانید از ما به صورت رایگان مشاوره بگیرید تا در روز عروسی خود بدرخشید.

                                    میکاپ و انواع سبک‌های میکاپ در لغت به معنای آرایش و پیرایش صورت با مواد آرایشی زیبایی است. میکاپ به معنای آرایش صورت است و به کسی که مسئول آرایش و رفع عیوب صورت با لوازم آرایش است را میکاپ آرتیست می‌گویند.

                                    میکاپ و انواع سبک‌های میکاپ در بعضی از مواقع با گریم اشتباه گرفته می‌شود. در اصل گریم به تکنیک‌های تیره روشن کردن یا سایه روشن کردن پوست و متعادل کردن برجستگی‌ها و فرورفتگی‌های پوست اشاره دارد و بیشتر هدف اصلاح چهره است؛ اما در ارتباط با میکاپ و آرایش صورت صرفاً رنگ‌ها به صورت اضافه می‌شود و مانند گریم طبیعی جلوه نمی‌کند.

                                    آرایشگرانی که با متد روز، به‌روز هستند و مدل‌های جدید و خاص اروپایی رو می‌شناسند خوب می‌دانند که آرایش صورت و موها در کشورهای اروپایی همراه با سادگی تعریف می‌شود که در اصل آرایشگران آن را میکاپ لایت معرفی می‌کنند.

                                    این سبک آرایش به معنای هنرنمایی آرایشگر روی چهره برای ایجاد زیبایی بدون تغییرات واضح است که کار ساده‌ای نیست و نیاز به مهارت بالایی دارد. به همین دلیل بیشتر اروپایی‌ها برای عروسی‌شان این سبک را انتخاب می‌کنند تا با گذشت سال‌ها، زمانی که به عکس‌هایشان نگاه می‌کنند از زیبایی خود لذت ببرند.

                                </p>
                                <p>
                                    میکاپ و انواع سبک های میکاپ
                                    میکاپ و انواع سبک های میکاپ
                                    آکادمی مرجان کریمی مرکز میکاپ و آرایش تخصصی عروس در تهران و غرب تهران خدمات گوناگونی را به عروس خانم های عزیز ارائه می دهد. شما می توانید از ما به صورت رایگان مشاوره بگیرید تا در روز عروسی خود بدرخشید.

                                    میکاپ و انواع سبک‌های میکاپ در لغت به معنای آرایش و پیرایش صورت با مواد آرایشی زیبایی است. میکاپ به معنای آرایش صورت است و به کسی که مسئول آرایش و رفع عیوب صورت با لوازم آرایش است را میکاپ آرتیست می‌گویند.

                                    میکاپ و انواع سبک‌های میکاپ در بعضی از مواقع با گریم اشتباه گرفته می‌شود. در اصل گریم به تکنیک‌های تیره روشن کردن یا سایه روشن کردن پوست و متعادل کردن برجستگی‌ها و فرورفتگی‌های پوست اشاره دارد و بیشتر هدف اصلاح چهره است؛ اما در ارتباط با میکاپ و آرایش صورت صرفاً رنگ‌ها به صورت اضافه می‌شود و مانند گریم طبیعی جلوه نمی‌کند.

                                    آرایشگرانی که با متد روز، به‌روز هستند و مدل‌های جدید و خاص اروپایی رو می‌شناسند خوب می‌دانند که آرایش صورت و موها در کشورهای اروپایی همراه با سادگی تعریف می‌شود که در اصل آرایشگران آن را میکاپ لایت معرفی می‌کنند.

                                    این سبک آرایش به معنای هنرنمایی آرایشگر روی چهره برای ایجاد زیبایی بدون تغییرات واضح است که کار ساده‌ای نیست و نیاز به مهارت بالایی دارد. به همین دلیل بیشتر اروپایی‌ها برای عروسی‌شان این سبک را انتخاب می‌کنند تا با گذشت سال‌ها، زمانی که به عکس‌هایشان نگاه می‌کنند از زیبایی خود لذت ببرند.

                                </p>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 pull-left">
                    <aside id="hb-sidebar" class="hb-sidebar hb-haslayout service">
                        <div class="hb-widget hb-recentnews">
                            <ul>
                                <li class="active">
                                    <a href="/Home/Service" class="clr-white">انواع میکاپ تخصصی</a>
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </li>
                                <li>
                                    <a href="/Home/Service" class="clr-white">کراتینه مو</a>
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </li>
                                <li>
                                    <a href="/Home/Service" class="clr-white">اکستنشن مژه</a>
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </li>
                                <li>
                                    <a href="/Home/Service" class="clr-white">خدمات ناخن</a>
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </li>
                                <li>
                                    <a href="/Home/Service" class="clr-white">انواع خدمات مو</a>
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </li>
                                <li>
                                    <a href="/Home/Service" class="clr-white">میکروپیگمنتیشن</a>
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </li>

                            </ul>
                        </div>

                        <div class="hb-widget hb-tags content">
                            <h3>آکادمی مرجان کریمی</h3>
                            <p>نظرات و پیشنهادات خود را با ما در میان بگذارید</p>
                            <a href="#" class="primary-btn hb-btn text-uppercase">تماس با ما</a>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </section>
    <!--************************************
                Blog End
    *************************************-->
    <section id="hb-appointment" class="hb-appointment hb-sectionspace hb-haslayout price-list bg-owner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5">
                    @*<figure class="hb-appointmentimg">
                        <img src="~/images/marjankarimi.jpg" alt="images description" />
                    </figure>*@
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7">
                    <div class="hb-sectionhead">
                        <div class="hb-sectiontitle">
                            <h2>
                                <span>مرجان کریمی</span>
                                رزرو وقت
                            </h2>
                        </div>
                    </div>
                    <div class="hb-appointmentcontent">
                        <h3>برای رزرو وقت و تماس با ما با شماره های زیر در تماس باشید</h3>
                        <div class="hb-description">
                            <p class="text-center">شماره تماس : <strong>44217662-021</strong></p>
                        </div>
                        <div class="hb-btnarea">
                            <a href="https://www.instagram.com/academy.marjankarimi/" class="hb-btn">اینستاگرام ما را دنبال کنید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
